/* TODO: escrever o código em falta aqui... */

.banner{
    background-image: url("banner.png");
    height: 360px;
    margin: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}